@font-face {
	font-family: "PT Sans";
	font-style: normal;
	font-weight: 400;
	src: url("../fonts/ptsans-400.woff2") format(woff2);
	font-display: swap;
}

@font-face {
	font-family: "PT Sans";
	font-style: normal;
	font-weight: 700;
	src: url("../fonts/ptsans-700.woff2") format(woff2);
	font-display: swap;
}

html {
	height: 100%;
}

body {
	margin: 0;
	display: flex;
	flex-direction: column;
	min-width: 100%;
	min-height: 100%;
	font-family: "PT Sans", sans-serif;
	font-size: 18px;
	line-height: 21px;
	color: #333333;
	background-color: #FFFFFF;
	outline: 5px solid rgba(255, 99, 78, 0.5);
	outline-offset: -5px;
	/*ВЗЯТО ИЗ ДЕМКИ*/
}

.page-header {
	color: #333333;
	background: #FFFFFF;
}

.navigation {
	display: flex;
	width: 1060px;
	margin: 0 auto;
}

.page-logo {
	margin: 0;
	padding: 0;
	width: 140px;
	margin-right: 30px;
}

.navigation-link {
	display: block;
	padding: 20px 17px;
	font-family: "PT Sans", sans-serif;
	font-size: 20px;
	line-height: 26px;
	font-weight: 700;
	color: #000000;
	text-align: left;
	text-decoration: none;
}

.navigation-blocks {
	display: flex;
	margin: 0;
	padding: 0;
	list-style-type: none;
	flex-wrap: wrap;
}

.link-blocks {
	display: block;
	padding: 20px 12px;
	text-decoration: none;
}

.navigation-list {
	margin: 0;
	width: 500px;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.page-user {
	width: 350px;
	justify-content: flex-end;
}

.basket {
	Width: 160px;
	Height: 37px;
	background-color: #756257;
	color: #FFFFFF;
	font-family: "PT Sans", sans-serif;
	font-size: 16px;
	line-height: 20px;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
	padding: 10px;
	border-radius: 4px;
}

.main-container {
	flex-grow: 1;
}

.page-container {
	width: 1200px;
	margin: 0 auto;
	padding: 0;
}

.main-poster-text-welcome {
	display: block;
	margin-top: 51px;
}

.advantages-block {
	display: flex;
	margin: 0;
	padding: 0;
}

.information-block {
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 0;
	width: 400px;
}

.main-index {
	background-color: #FFFFFF;
	text-align: center;
}

.main-poster {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 485px;
	justify-content: space-between;
	color: #333333;
	background-color: #FFFFFF;
	background-image: url("../images/background/index_background.jpg");
	background-size: 100% auto;
	background-repeat: no-repeat;
	padding: 0px;
}

.inner-filter {
	display: flex;
	flex-direction: column;
	text-align: left;
	color: #FFFFFF;
	background-color: #68A2CA;
	background-image: url("../images/background/catalog_background_1.jpg");
	background-size: 100% auto;
	background-repeat: no-repeat;
	height: 408px;
}

.inner-filter-title {
	display: block;
	width: 530px;
	padding: 0px;
	margin: 0px;
	margin-top: 35px;
	margin-left: 71px;
	margin-bottom: 5px;
}

.breadcrumbs {
	display: flex;
	list-style-type: none;
	padding: 0px;
	margin: 0px;
	margin-left: 73px;
	margin-top: 8px;
}

.breadcrumbs-item {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.breadcrumbs-home {
	display: block;
	margin: 0px;
	margin-right: 26px;
	padding: 0px;
}

.breadcrumbs-hotel {
	display: block;
	margin: 0px;
	padding: 0px;
	padding-bottom: 6px;
}

.breadcrumbs-item a {
	color: #FFFFFF;
	text-decoration: none;
}

.sorting {
	display: flex;
	width: 1057px;
	padding: 0px;
	margin: 0px auto;
	justify-content: space-between;
}

.sorting-title {
	display: block;
	padding: 0px;
	margin: 0px;
	margin-top: 50px;
	margin-bottom: 56px;
	margin-right: 150px;
	font-family: "PT Sans", sans-serif;
	font-size: 30px;
	line-height: 39px;
	font-weight: 700;
	text-align: left;
	color: #000000;
	text-transform: uppercase;
}

.sorting-type {
	display: block;
	padding: 0px;
	margin: 0px;
	margin-top: 44px;
}

.page-size {
	width: 1056px;
	margin: 0px auto;
}

.icons {
	display: flex;
	margin: 0px;
	margin-right: 8px;
	padding: 0px;
	width: 48px;
	height: 48px;
	border: 2px solid #E5E5E5;
	box-sizing: border-box;
	border-radius: 4px;
}

.icons-mode {
	display: block;
	margin: auto;
	padding: auto;
}

.select-control {
	padding: 0px;
	margin: 0px;
	width: 287px;
	height: 48px;
	border: 2px solid #E6E6E6;
	box-sizing: border-box;
	border-radius: 4px;
}

.visual {
	display: flex;
	width: 160px;
	height: 50px;
	padding: 0px;
	margin: 0px;
	margin-top: 44px;
	margin-left: 81px;
}

.button-apply {
	font-family: "PT Sans", sans-serif;
	font-size: 16px;
	line-height: 21px;
	font-weight: 700;
	text-align: center;
	background-color: #83B3D3;
}

.button-reset {
	font-family: "PT Sans", sans-serif;
	font-size: 18px;
	line-height: 23px;
	font-weight: 400;
	text-align: center;
}

.catalog-filter-title {
	font-family: "PT Sans", sans-serif;
	font-size: 20px;
	line-height: 26px;
	font-weight: 700;
	text-align: left;
}

.load-more {
	display: flex;
	margin: 0px auto;
	padding: 0px;
	width: 1056px;
	height: 120px;
	justify-content: center;
	border-top: 1px solid #E6E6E6;
	border-bottom: 1px solid #E6E6E6;
}

.pagination-container {
	display: flex;
	padding: 0px;
	margin: 0px;
	margin-top: 30px;
	width: 1056px;
	background-color: #FFFFFF;
	justify-content: space-between;
}

.pagination {
	display: flex;
	padding: 0px;
	margin: 0px;
	list-style-type: none;
}

.pagination-item {
	display: flex;
	margin: 0px;
	padding: 0px;
	width: 55px;
	height: 55px;
	background: #83B3D3;
	border: none;
	border-radius: 4px;
	justify-content: center;
	align-items: center;
}

.pagination-item.pagination-item:not(:last-child) {
	margin-right: 8px;
}

.select-control-page {
	padding: 0px;
	margin: 0px;
	margin-left: 51px;
	width: 160px;
	height: 48px;
	border: 2px solid #E6E6E6;
	box-sizing: border-box;
	border-radius: 4px;
}

.control-input,
.select-control {
	font-family: "PT Sans", sans-serif;
	font-size: 18px;
	line-height: 23px;
	font-weight: 400;
	text-align: left;
}

.additional {
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 0;
}

.additional-title {
	display: block;
	font-family: "PT Sans", sans-serif;
	font-size: 30px;
	line-height: 36px;
	font-weight: 700;
	width: 730px;
	margin: 63px auto;
	margin-bottom: 0px;
	padding: 0px;
	color: #000000;
	text-align: center;
	text-transform: uppercase;
}

.additional-benefits {
	display: block;
	padding: 0px;
	margin: auto;
	margin-top: 31px;
	margin-bottom: 80px;
	font-family: "PT Sans", sans-serif;
	font-size: 22px;
	line-height: 36px;
	font-weight: 400;
	color: #000000;
	text-align: center;
}

.special {
	background-color: #83B3D31F;
}

.block-four {
	background-color: #83B3D333;
}

.advantages h2 {
	font-family: "PT Sans", sans-serif;
	font-size: 24px;
	line-height: 28px;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
}

.advantages-information-provinces,
.advantages-canyon-bridge-information {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	padding: 0px;
	margin: 0px;
	background-color: #83B3D3;
	color: #FFFFFF;
	width: 400px;
}

.white-title {
	padding: 0px;
	margin: 0px auto;
	width: 200px;
	margin-top: 98px;
	margin-bottom: 30px;
}

.number {
	display: block;
	padding: 0px;
	margin: 0px auto;
	margin-bottom: 30px;
}

.advantages-information-live {
	display: block;
	flex-wrap: wrap;
	padding: 0px;
	margin: 0px auto;
	width: 230px;
	font-family: "PT Sans", sans-serif;
	font-size: 18px;
	line-height: 21px;
	font-weight: 400;
	text-align: center;
}

.image-icon {
	margin: 0px auto;
	padding: 0px;
	margin-top: 88px;
	margin-bottom: 23px;
}

.second-title {
	font-family: "PT Sans", sans-serif;
	font-size: 24px;
	line-height: 28px;
	font-weight: 700;
	text-align: center;
	padding: 0px;
	margin: 0px auto;
	margin-bottom: 20px;
}

.title-two {
	padding: 0px;
	margin: 0px auto;
	margin-top: 98px;
	margin-bottom: 29px;
}

.paragraph {
	display: block;
	margin: 0px auto;
	margin-bottom: 79px;
	padding: 0px;
	width: 250px;
}

.tourist-information {
	font-family: "PT Sans", sans-serif;
	font-size: 18px;
	line-height: 21px;
	font-weight: 400;
	text-align: center;
	margin: 0px auto;
	margin-top: 30px;
	margin-bottom: 108px;
	padding: 0px;
	width: 250px;
}

.page-footer-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 1200px;
	margin: 0 auto;
}

.page-footer-container-catalog {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 1200px;
	margin: 0px auto;
	padding: 0px;
	margin-top: 140px;
}

.footer-social {
	display: flex;
	align-items: center;
	max-width: 200px;
	padding: 0px;
	margin: 0px;
}

.footer-social-list {
	display: flex;
	flex-wrap: wrap;
	list-style-type: none;
	width: 120px;
	padding: 0px;
	margin: 0px;
	margin-top: 50px;
	margin-bottom: 53px;
	margin-left: 72px;
}

.footer-social-item {
	width: 20px;
	height: 20px;
	margin-right: 20px;
}

.footer-social-item:nth-child(3n) {
	margin-right: 0;
}

.footer-contact {
	display: flex;
	align-items: center;
	width: 420px;
	margin: 0px auto;
	padding: 0px;
}

.footer-copyright {
	display: flex;
	align-items: center;
	width: 115px;
	padding: 0px;
	margin: 0px;
	margin-right: 72px;
}

.footer-copyright-info {
	margin: 0px;
	padding: 0px;
}

.catalog-filter {
	display: flex;
}

.catalog-infrastructure {
	width: 150px;
	margin-left: 70px;
}

.catalog-housing {
	width: 144px;
	margin-left: 68px;
}

.catalog-price {
	width: 287px;
	margin-left: 167px;
}

.buttons {
	width: 160px;
	margin-left: 81px;
	display: flex;
	flex-direction: column;
}

.hotel-cards {
	display: flex;
}

.hotel-search {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	height: 417px;
	margin: 0px;
	padding: 0px;
}

.interested {
	font-family: "PT Sans", sans-serif;
	font-size: 30px;
	line-height: 36px;
	font-weight: 700;
	text-align: center;
	margin: 0px auto;
	margin-top: 91px;
	margin-bottom: 29px;
	padding: 0px;
	text-transform: uppercase;
}

.subscription-snewsletter {
	display: flex;
	padding: 0px;
	margin: 0px auto;
	width: 800px;
	height: 60px;
}

.subscription-email {
	background-color: #F2F2F2;
	width: 600px;
	border-radius: 10px 0px 0px 10px;
	border: 0px;
}

.travel-dates {
	display: block;
	font-family: "PT Sans", sans-serif;
	font-size: 22px;
	line-height: 26px;
	font-weight: 400;
	text-align: center;
	margin: 0px auto;
	margin-bottom: 56px;
	padding: 0px;
	width: 720px;
}

.button-hotel-search {
	display: flex;
	font-family: "PT Sans", sans-serif;
	background-color: #756257;
	color: #FFFFFF;
	font-size: 20px;
	line-height: 36px;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	width: 575px;
	height: 60px;
	border-radius: 10px;
	padding: auto;
	margin: 0 auto;
	justify-content: center;
	align-items: center;
}

.hotel-cards h3 {
	font-family: "PT Sans", sans-serif;
	font-size: 24px;
	line-height: 31px;
	font-weight: 700;
	text-align: left;
}

.hotel-cards-list span {
	font-family: "PT Sans", sans-serif;
	font-size: 24px;
	line-height: 18px;
	font-weight: 400;
	text-align: left;
}

.hotel-cards-list .rating {
	font-family: "PT Sans", sans-serif;
	font-size: 16px;
	line-height: 21px;
	font-weight: 700;
	text-align: center;
	color: #FFFFFF;
	background-color: #F2F2F2;
}

.hotel-cards a {
	font-family: "PT Sans", sans-serif;
	font-size: 16px;
	line-height: 11px;
	font-weight: 700;
	text-align: center;
	color: #FFFFFF;
}

.hotel-cards-link {
	background-color: #756257;
	text-decoration: none;
	text-transform: uppercase;
}

.hotel-cards-button {
	background-color: #83B3D3;
	text-decoration: none;
	text-transform: uppercase;
}

.button-subscribe {
	font-family: "PT Sans", sans-serif;
	color: #FFFFFF;
	background-color: #83B3D3;
	font-size: 20px;
	line-height: 26px;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
	width: 200;
	border-radius: 0px 10px 10px 0px;
	border: 0px;
}

.footer-contact-address {
	font-style: normal;
	text-align: center;
}

.footer-contact-address-phone {
	font-style: normal;
	font-family: "PT Sans", sans-serif;
	color: #000000;
	font-size: 40px;
	line-height: 40px;
	font-weight: 700;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
}

.subscription {
	display: flex;
	flex-direction: column;
	height: 411px;
	padding: 0px;
	margin: 0px;
	color: #FFFFFF;
	background-color: #000000;
	background-image: url("../images/background/background.jpg");
	background-size: 100% auto, 100% auto;
	background-repeat: no-repeat;
}

button.pagination-load-more {
	display: block;
	font-family: "PT Sans", sans-serif;
	color: #FFFFFF;
	background-color: #83B3D3;
	font-size: 20px;
	line-height: 26px;
	font-weight: 700;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	width: 620px;
	height: 60px;
	border-radius: 4px;
	border: none;
	padding: 0px;
	margin: auto 0px;
}

.pagination-link {
	font-family: "PT Sans", sans-serif;
	color: #FFFFFF;
	background-color: #83B3D3;
	font-size: 20px;
	line-height: 26px;
	font-weight: 700;
	text-align: center;
	text-decoration: none;
}

.snewsletter {
	font-family: "PT Sans", sans-serif;
	font-size: 30px;
	line-height: 36px;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
	padding: 0;
	margin: 0px auto;
	margin-top: 94px;
	margin-bottom: 29px;
}

.helpful-information {
	display: block;
	font-family: "PT Sans", sans-serif;
	font-size: 22px;
	line-height: 26px;
	font-weight: 400;
	text-align: center;
	width: 720px;
	padding: 0px;
	margin: 0 auto;
	margin-bottom: 46px;
}

.subscription-snewsletter {
	text-align: center;
}

.social-button {
	display: block;
	color: #FFFFFF;
	background-color: #FFFFFF;
}